body {
    padding: 0;
    margin: 0;
    background-color: #121212;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.no-scroll{
    overflow: hidden;
}

.button{
    background-color:gray;
    color: white;
    border:none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border-radius: 0 10px 0 10px;
}


img {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 125px;
    margin: 0;
    -webkit-text-fill-color: rgb(72, 72, 72); /* Will override color (regardless of order) */
    -webkit-text-stroke: 3px blue;
}

main {
    margin-right: auto;
    max-width: 1440px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

header {
    width: auto;
    height: 114px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#content {
    max-width: 1800px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 32px;
}

.user-search-container {
    position: relative;
    
}

.user-search-container input {
    padding: 10px;
    width: 300px;
    height: 30px;
    background: none;
    border: 2px solid #ffd52d;
    box-sizing: border-box;
    font-size: 26px;
    text-align: center;
    color: white;
    border-radius: 0 10px 0 10px ;
}

.load-more-pokemons {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
